<div class="brand-login">
  <h1>Team Connect</h1>
</div>

<div class="example-container" (keyup.enter)="login()">
  <h2>ENTRAR</h2>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email">
    <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
  </mat-form-field>

  <section class="example-remember">
    <mat-checkbox class="example-margin" [formControl]="checked">Lembrar</mat-checkbox>
    <a routerLink="/" class="example-margin">Esqueceu a senha?</a>
  </section>

  <button mat-raised-button color="primary" (click)="login()">ACESSAR</button>

  <!-- IMPLEMENTAR NO FUTURO -->
  <!-- <section class="example-create">
    <p>Não possui uma conta?</p>
    <a routerLink="/user-create" class="example-margin">Inscrever-se</a>
  </section> -->
</div>