$primary: (
    50 : #e6f2fc,
    100 : #c1ddf7,
    200 : #98c7f2,
    300 : #6fb1ed,
    400 : #50a0e9,
    500 : #318fe5,
    600 : #2c87e2,
    700 : #257cde,
    800 : #1f72da,
    900 : #1360d3,
    A100 : #ffffff,
    A200 : #cfe1ff,
    A400 : #9cc0ff,
    A700 : #83b0ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary: (
    50: #e8e8e8,
    100: #c0c0c0,
    200: #999999,
    300: #737373,
    400: #595959,
    500: #333333,
    600: #2e2e2e,
    700: #292929,
    800: #242424,
    900: #1a1a1a,
    A100: #cccccc,
    A200: #b3b3b3,
    A400: #999999,
    A700: #808080,
    contrast: (50: #ffffff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000)
);